.aProposContent {
	display: flex;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	padding-bottom: 3em;
	.contentRight {
		width: calc(100vw - 39.5vw);
		padding-top: 12em;
		height: calc(100vh - 200px);
		position: relative;
		overflow: auto;
		scrollbar-width: none;
		.textBio {
			width: 80%;
			padding: 3em;
		}
	}

	.bioBoxes {
		display: flex;
		gap: 4em;
		padding-left: 3em;
		padding-top: 3em;
		.bioBox {
			width: 40%;
			.boxNonoIsClose,
			.boxCharlotteIsClose {
				display: none;
			}
			.boxCharlotteIsVisible,
			.boxNonoIsVisible {
				display: block;
				padding-top: 2em;
				padding-bottom: 2em;
				.bio {
					width: 100%;
				}
			}
			.titreArrow {
				display: flex;
				justify-content: space-between;
				.boxTitle {
					font-family: UncutSans-bold;
				}
			}
			/* flèche */
			.arrowUp {
				transform: rotate(180deg);
			}
		}
	}
	/* MENTIONS LEGALES */
	.boxMentionsLegales {
		background: #ffffff;
		padding-left: 3em;
		width: 58%;
		border-top: solid 1px black;
		position: fixed;
		bottom: 0;

		.titreArrow {
			display: flex;
			justify-content: space-between;
			width: 100%;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			p {
				font-size: 12px;
				font-family: UncutSans-regular;
			}
		}
		.arrowUp {
			transform: rotate(180deg);
		}
		.boxMentionsLegalesIsClose {
			display: none;
		}
		.boxMentionsLegalesIsVisible {
			display: block;
			padding-top: 2rem;
			padding-bottom: 2rem;
			p {
				font-size: 12px;
				font-family: UncutSans-regular;
			}
		}
	}

	.imgLeft {
		height: 100vh;
		width: 39.5vw;
		position: fixed;
		top: 0rem;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			height: 90%;
			object-fit: contain;
		}
	}
}

@media only screen and (max-width: 1050px) and (orientation: portrait) {
	.aProposContent {
		flex-direction: column;
		overflow: unset;
		height: 100%;
		padding-top: unset;
		width: 100%;
		align-items: center;
		.contentRight {
			height: 100%;
			width: 80%;
			position: unset;

			.textBio {
				width: 100%;
				padding: unset;
			}
			.bioBoxes {
				padding-left: unset;
			}
		}
		.imgLeft {
			position: unset;
			height: 80vh;
			width: 90%;
			padding-top: 5em;
		}
		.boxMentionsLegales {
			width: 100%;
			border-top: solid 1px black;
			position: fixed;
			bottom: 0;

			.titreArrow {
				display: flex;
				justify-content: space-between;
				width: 90%;
				padding-top: 0.8em;
				p {
					font-size: 12px;
					font-family: UncutSans-regular;
				}
			}
			.arrowUp {
				transform: rotate(180deg);
			}
			.boxMentionsLegalesIsClose {
				display: none;
			}
			.boxMentionsLegalesIsVisible {
				display: block;
				padding-top: 2rem;
				padding-bottom: 2rem;

				p {
					font-size: 12px;
					font-family: UncutSans-regular;
				}
			}
		}
	}
}

@media only screen and (max-width: 700px) {
	.aProposContent {
		.contentRight {
			padding-top: 10em;
		}
	}
}
@media only screen and (max-width: 583px) {
	.aProposContent {
		.contentRight {
			padding-top: 8em;
		}
		.bioBoxes {
			flex-direction: column;
			.bioBox {
				width: 100%;
			}
		}
		.imgLeft {
			padding-right: unset;
			padding-top: unset;
			img {
				height: 70%;
			}
		}
	}
}
