.mainCarrousel {
	display: flex;
	width: 75vw;
	/* height: 100vh; */
	.legend {
		width: 37.5vw;
		height: 9vh;
		display: flex;
		padding-top: 87vh;
		padding-right: 2rem;
		gap: 1rem;
		justify-content: flex-end;

		.texte p {
			text-align: right;
		}
		.legendTitle {
			font-size: 18px;
			padding-bottom: 1.2rem;
		}
		.legendText {
			font-size: 13px;
		}
		.fleches {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	.poster {
		height: 100%;
		width: 38.5vw;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
