/* TOUTES LES PAGES SAUF ACCUEIL */

.header {
	display: flex;
	gap: 4.167vw;
	padding-left: 3rem;
	align-items: center;
	position: fixed;
	z-index: 1;

	.TitreNav {
		display: flex;
		gap: 4.167vw;
		align-items: center;

		h1 {
			font-size: 24px;
			line-height: 24px;
		}

		.navlinks ul {
			display: flex;
			flex-direction: column;
			gap: 0.8rem;
			li {
				font-size: 22px;
			}
		}
	}

	.logo {
		width: 150px;
	}
	.infoTexte {
		display: none;
	}
	.trait {
		display: none;
	}
}

/* PAGE D'ACCUEIL */

.headerHome {
	align-items: flex-start;
	gap: unset;
	padding-left: unset;

	.logoTexte {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 20.3vw;
		padding: 1.2rem;
		padding-top: unset;

		.infoTexte {
			padding-top: 5.5rem;
			display: flex;
			align-items: center;
			width: 100%;
			p {
				line-height: 1.1rem;
			}
		}
	}

	.trait {
		display: block;
		width: 0.5px;
		height: 100vh;
		background: black;
	}

	.TitreNav {
		flex-direction: column;
		align-items: flex-start;
		margin-top: 3rem;
		gap: 3rem;
		z-index: 1;
		padding-left: 2rem;

		h1 {
			font-size: 36px;
			line-height: 42px;
		}
	}
}

@media only screen and (max-width: 1050px) {
	.header {
		gap: 0;
		width: 100vw;
		justify-content: center;
		padding-left: unset;

		.TitreNav {
			gap: 0;
			h1 {
				padding-left: 4rem;
				padding-right: 4rem;
			}
		}
	}
	.headerHome {
		align-items: center;
		gap: 0;
		width: 100vw;
		padding-left: unset;
		justify-content: center;

		.logoTexte {
			padding: 0;
			width: unset;
			.infoTexte {
				position: absolute;
				top: 10vh;
				width: 100vw;
				left: 0;
				p {
					padding: 20px;
				}
			}
		}
		.TitreNav {
			flex-direction: row;
			gap: 0;
			align-items: center;
			margin-top: 0;
			padding-left: 0;
			h1 {
				font-size: 24px;
				line-height: 24px;
				padding-left: 4rem;
				padding-right: 4rem;
			}
		}

		.trait {
			display: none;
		}
	}
}
