/* TOUTES LES PAGES SAUF ACCUEIL */

.header {
	display: flex;
	gap: 6.167vw;
	width: 100vw;
	padding-left: 2.7rem;
	align-items: center;
	position: fixed;
	z-index: 1;
	background-color: #ffffff;
	justify-content: left;

	.TitreNav {
		display: flex;
		gap: 6.167vw;
		align-items: center;

		h1 {
			font-size: 21px;
			line-height: 26px;
			padding-bottom: 20px;
			padding-left: 4px;
		}

		.navlinks ul {
			display: flex;
			flex-direction: column;
			gap: 0.8rem;
			padding-top: 3px;
			padding-left: 6px;
			li {
				font-size: 22px;
			}
		}
		.hamburger {
			display: none;
		}
	}

	.logo {
		width: 155px;
	}

	.trait {
		display: none;
	}
}

/* PAGE D'ACCUEIL */

.headerHome {
	align-items: flex-start;
	gap: unset;
	padding-left: unset;
	background-color: unset;

	.logoTexte {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 20.3vw;
		padding: 1.2rem;
		padding-top: unset;
	}

	.trait {
		display: block;
		width: 0.5px;
		height: 100vh;
		background: black;
	}

	.TitreNav {
		flex-direction: column;
		align-items: flex-start;
		margin-top: 3rem;
		gap: 3rem;
		z-index: 1;
		padding-left: 2rem;

		h1 {
			font-size: 36px;
			line-height: 42px;
		}
	}
}

.infoTexte {
	position: absolute;
	width: 20vw;
	top: 40vh;
	padding: 1rem;
	p {
		line-height: 1.1rem;
	}
}

@media only screen and (max-width: 1050px) {
	.header {
		gap: 0;
		width: 100vw;
		justify-content: center;
		padding-left: unset;
		background-color: #ffffff;

		.TitreNav {
			gap: 0;
			h1 {
				padding-left: 2rem;
				padding-right: 4rem;
			}

			.navlinks {
				display: none;
			}
			.hamburger {
				display: flex;
				background: none;
				border-style: none;
				.menuham {
					width: 2rem;
				}
			}
			.navbar {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}
			.navbarMobileVisible {
				display: flex;

				ul {
					display: flex;
					flex-direction: column;
					gap: 0.8rem;
					position: absolute;
					background-color: #ffffff;
					padding: 2rem;
					padding-right: 0;
					li {
						font-size: 20px;
					}
				}
			}
		}
	}

	.headerHome {
		align-items: center;
		gap: 0;
		width: 100vw;
		padding-left: unset;
		justify-content: center;

		.logoTexte {
			padding: 0;
			width: unset;
		}
		.TitreNav {
			flex-direction: row;
			gap: 0;
			align-items: center;
			margin-top: 0;
			padding-left: 0;
			h1 {
				font-size: 24px;
				line-height: 24px;
				padding-left: 2rem;
				padding-right: 4rem;
			}
		}

		.trait {
			display: none;
		}
	}

	.infoTexte {
		padding: 0;
		top: 10rem;
		width: 98%;
		display: flex;
		justify-content: center;
		left: 0;

		p {
			width: 89vw;
		}
	}
}

@media only screen and (max-width: 700px) {
	.header,
	.headerHome {
		.TitreNav {
			h1 {
				font-size: 20px;
			}
			.navbarMobileVisible {
				ul {
					right: 1rem;
					padding-right: 3rem;
				}
			}
		}
		.logo {
			width: 120px;
		}
	}
	.infoTexte {
		top: 9rem;
	}
}

@media only screen and (max-width: 583px) {
	.header,
	.headerHome {
		.TitreNav {
			h1 {
				font-size: 15px;
				padding-right: 1.5rem;
				padding-left: 1rem;
				line-height: 18px;
			}
			.navbarMobileVisible {
				ul {
					margin-top: 0.4rem;
				}
			}
		}

		.logo {
			width: 80px;
		}
	}
	.infoTexte {
		top: 7rem;
	}
}
@media only screen and (max-width: 420px) {
	.header,
	.headerHome {
		.TitreNav {
			.hamburger {
				.menuham {
					width: 1.5rem;
				}
			}
		}
		.logo {
			width: 80px;
		}
	}

	.infoTexte {
		top: 6rem;
		p {
			font-size: 15px;
			width: 85vw;
		}
	}
}

/* GRANDS ECRANS */

@media only screen and (min-width: 1700px) {
	.header {
		gap: 6vw;
		.TitreNav {
			gap: 6vw;

			h1 {
				font-size: 34px;
				line-height: 29px;
			}

			.navlinks ul {
				gap: 1rem;
				li {
					font-size: 26px;
				}
			}
		}

		.logo {
			width: 190px;
		}
	}

	.headerHome {
		gap: 0;
		.logoTexte {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 25vw;
			padding: 1.2rem;
			padding-top: unset;
			.logo {
				width: 300px;
			}
		}

		.TitreNav {
			h1 {
				font-size: 52px;
				line-height: 60px;
			}

			.navlinks ul {
				display: flex;
				flex-direction: column;
				gap: 1.1rem;
				li {
					font-size: 30px;
				}
			}
			.hamburger {
				display: none;
			}
		}
	}

	.infoTexte {
		position: absolute;
		width: 25vw;
		top: 35vh;
		display: flex;
		justify-content: center;

		p {
			line-height: 2rem;
			font-size: 27px;
			width: 23vw;
		}
	}
}
